#vis{
	margin-top: 100px;
  width: 95%;
  margin: 20px auto;
  text-align: center;
}

body{
  color: #333;
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

#title{
  font-size: 4em;
  color: #555;
  margin-top: 20px;
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
}

#filt_cont{
  float: left;
}

#sub_title{
  margin-bottom: 10px;
  font-size: 2em;
  color: #555;
}

#map{
 margin-top: 29px;
}
/*.left{
  margin-left: 2%;
  width: 34% !important; 
}*/

#toggle{
  margin: 0 auto;
  width: 200px;
}

.togg{
  display: inline-block;
  padding: 5px 10px;
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
}

.f_name{
  margin-bottom: 20px;
  color: #ccc;
  text-align: left;
}

.f_container label{
  color: #fff;
  display: block;
  margin-top: 20px;
  margin-bottom: 0;
}


.amount_lbl{
  height: 22px !important;
    border: 0 !important;
    padding: 0 !important;
    border: none !important;
    color: #f1c40f !important;
    font-weight: bold !important;
    font-size: 0.7em;
    background: none !important;
}

.togg:hover{
  cursor: pointer;
}


.filter_container{
  display: none;
  font-size: 0.8em;
}

.filter_container input{
  margin-right: 10px;
}


.dd_icon{
  width: 10px;
  margin-left: 10px;
}

.slider-container{
  margin-bottom: 30px;
}

.f_container{
  margin-left: 30px;
}

.dd_icon:hover{
  cursor: pointer;
}

#map-toggle{
  margin-right: 0;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rank_toggle{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#radar-toggle{
  margin-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#radar svg{
  display: inline-block;
  margin: 0 auto;
  margin-top: -35px
}

#map, #radar{
	height: 600px;
  border: 1px solid #ccc;
}

#vis{
	max-width: 100%;
}

#radar{
  margin-bottom: 20px
}

#filters{
  overflow-y: scroll;
  padding-right: 33px;
  padding-bottom: 30px;
}

/*map stuff*/
.states{
	fill: #dff9fb;
}
.label_container{
  font-size: 1.6em;
}

#fiter_icon{
  width: 30px;
  margin-left: 40px;
  margin-top: -11px;
}

#filter_text{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 2em;
  display: inline-block;
}

#fiter_icon:hover{
  cursor: pointer;
}

.states :hover {
  fill: #c7ecee;
}

.state-borders {
  fill: none;
  stroke: #95afc0;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/* summarization stuff*/

#summarization {
  max-height: 200px;
  margin-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.example rect {
  fill: steelblue;
}

.example text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

div.tooltip-scatter {	
  position: absolute;			
  text-align: center;			
  width: 300px;					
  height: 380px;					
  padding: 8px;				
  font: 12px sans-serif;	
  color: white;	
  background: #262626;	
  border: 1px;		
  border-color: black;
  border-radius: 8px;			
  pointer-events: none;
  overflow-y: scroll;			
}

div.tooltip-map {	
  position: absolute;			
  text-align: center;			
  width: 200px;					
  height: 75px;					
  padding: 8px;				
  font: 12px sans-serif;	
  color: white;	
  background: #262626;	
  border: 1px;		
  border-color: black;
  border-radius: 8px;			
  pointer-events: none;			
}

/*sliding menu stuff*/

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(0,0,0,0.8); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}