#vis{
	margin-top: 100px;
  width: 95%;
  margin: 20px auto;
  text-align: center;
}

/*.left{
  margin-left: 2%;
  width: 34% !important; 
}*/

#toggle{
  margin: 0 auto;
  width: 200px;
}

.togg{
  display: inline-block;
  padding: 5px 10px;
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
}

.f_name{
  margin-bottom: 20px;
  color: #ccc;
}

.togg:hover{
  cursor: pointer;
}


.filter_container{
  display: none;
  font-size: 0.8em;
}

.filter_container input{
  margin-right: 10px;
}


.dd_icon{
  width: 10px;
  margin-left: 10px;
}

.slider-container{
  margin-bottom: 30px;
}

.dd_icon:hover{
  cursor: pointer;
}

#map-toggle{
  margin-right: 0;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rank_toggle{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#radar-toggle{
  margin-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#radar svg{
  display: inline-block;
  margin: 0 auto;
  margin-top: -35px
}

#map, #radar, #filters{
	height: 600px;
  border: 1px solid #ccc;
}

#vis{
	max-width: 100%;
}

#radar{
  margin-bottom: 20px
}

#filters{
  overflow-y: scroll;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
}


/*map stuff*/


.states{
	fill: #dff9fb;
}

.states :hover {
  fill: #c7ecee;
}

.state-borders {
  fill: none;
  stroke: #95afc0;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/* summarization stuff*/

#summarization {
  max-height: 200px;
  margin-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.example rect {
  fill: steelblue;
}

.example text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 300px;					
  height: 350px;					
  padding: 8px;				
  font: 12px sans-serif;	
  color: white;	
  background: #262626;	
  border: 1px;		
  border-color: black;
  border-radius: 8px;			
  pointer-events: none;			
}